<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mark85.basic.mapper.UserDoMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mark85.basic.entity.UserDo">
        <id column="id" property="id"/>
        <result column="nickname" property="nickname"/>
        <result column="birthday" property="birthday"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="status" property="status"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="version" property="version"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, nickname, birthday, username, password, status, gmt_create, gmt_modified, is_deleted, version
    </sql>

   <!-- <select id="listUser" resultType="com.mark85.basic.entity.vo.UserVo">
        select
        id,nickname,username,birthday
        from user
        <where>
            <if test="status != null and status != ''">
                status=#{status}
            </if>
        </where>
        LIMIT #{current},#{size}
    </select>-->
</mapper>
